*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    background-color: #616063;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23090909' fill-opacity='0.9' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
a { 
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation */
.nav-main{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 20px;
    margin: -6px;
}

.nav-brand{
    width: 50px;
}

/* NAV LEFT */
.nav-main ul{
    display: flex;
}
.nav-main ul li {
    padding: 40px;
}

.nav-main ul li a:hover {
    padding: 4px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;

}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.menu-btn { 
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;

}

/* SHOWCASE */
hr{
    margin: 10px 0;
}
.showcase {
    width: 100%;
   height: 550px;
   background: url(img/fondo.png) no-repeat center center/cover;
   padding: 50px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 5px 8px;
    background: #262626;
    font: 15px;
    border: 1px solid #fff;
    margin: 20px 10px;
}

.btn:hover{
    opacity: .7;
}

.showcase h2
.showcase p {
    margin-bottom: 10px;

}

/* MAS COSAS */
.mas-cosas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.mas-cosas img {
    width: 100%;
    height: 180px;
}
.mas-cosas h3{
    font-size: 18px;
    margin: 10px 0;
}

.mas-cosas a{
    padding: 10px 0;
    color: #f2f2f2;
text-transform: uppercase;
display: inline-block;
font-weight: bold;
}


.mas-cosas a:hover {
    text-decoration: underline;
}

/* CARDS BANNER ONE */
.cards-banner-one {
    width: 100%;
    height: 350px;
    background: url(./img/forro.jpg) no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;
}
.cards-banner-one p
.cards-banner-one h2{
    margin: 10px 0 20px 0;
}

/*CARDS BANNER TWO*/
.cards-banner-two {
    width: 100%;
    height: 350px;

    background: url(./img/Rosa\ y\ Púrpura\ Galaxia\ Banner\ para\ Twitch.png) center center/cover; 

}
.cards-banner-two .content {
    width: 100%;
    padding: 250px 0 0 580px;

}
/* SOCIAL */
.social {
    margin: 50px;
}
.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.linksa a i {
    font-size: 3rem;
}

@media(max-width: 700px) {
  
     .menu-btn {
         display: block;
     }
  
    .nav-main ul.nav-menu {
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       background: #2f3640;
       height: 100%;
       padding: 30px;
       opacity: .9;
       transform: translate(-400px);
       transition: transform .5s ease-in-out;
    }
    
    .nav-main ul.nav-menu.show {
        transform: translatex(-20px)
        ;
    }



   .nav-main ul.nav-menu li {
       padding: 20px;
       font-size: 14px;

   }

   .nav-main ul.nav-menu-right {
       margin-right: 40px;

   }
    
    
    .mas-cosas {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 80%;
    }
}

@media(max-width: 500px) {
        .mas-cosas {
            grid-template-columns:1fr
        }

        .mas-cosas img {
            height: 250px;
        }

        .cards-banner-one,
        .cards-banner-two {
            width: 100%;
            padding: 60px 20px;
        }

}
  